<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div>
        <div id="js-preloader" class="js-preloader">
            <div class="preloader-inner">
                <span class="dot"></span>
                <div class="dots">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>
        <header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <nav class="main-nav">
                            <a href="index.html" class="logo">
                                <h4>SEO<span>optimizacija</span></h4>
                            </a>
                            <ul class="nav">
                                <li class="scroll-to-section">@Html.ActionLink("Početna", "Index", "MainSite")</li>
                                <li class="scroll-to-section">@Html.ActionLink("O nama", "About", "MainSite")</li>
                                <li class="scroll-to-section">@Html.ActionLink("Usluge", "Services", "MainSite")</li>
                                <li class="scroll-to-section">@Html.ActionLink("Portfolio", "Portfolio", "MainSite")</li>
                                <li class="scroll-to-section">@Html.ActionLink("Blog", "Blog", "MainSite")</li>
                                <li class="scroll-to-section"><div class="main-red-button">@Html.ActionLink("Kontakt", "Kontakt", "MainSite")</div></li>
                            </ul>
                            <a class='menu-trigger'>
                                <span>Menu</span>
                            </a>
                        </nav>
                    </div>
                </div>
            </div>
        </header>
        @RenderBody()
    </div>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.25s">
                    <p>
                        © Darko Jovanović - MVC
                        <br>
                        @RenderSection("saznaj_jos", false)
                        <br>
                        @RenderSection("pomoc", true)
                    </p>
                </div>
            </div>
        </div>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/javascript")
    @RenderSection("scripts", required: false)

</body>
</html>
